<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- <link rel="stylesheet" href="styles.css" /> -->
  </head>
  <body>
    <header>
      <h1>Create your DevCard</h1>
    </header>
    <form action="../database.json">
      <label for="fullName">Your Full Name:</label>
      <input type="text" id="fullName" name="fullName"><br><br>
      
      <label for="aboutMe">About Me:</label>
      <input type="text" id="aboutMe" name="aboutMe"><br><br>

      <input type="checkbox" id="lang1" name="knownTechnologies" value="HTML">
      <label for="lang1"> HTML</label><br>

      <input type="checkbox" id="lang2" name="laknownTechnologies2" value="CSS">
      <label for="lang2"> CSS</label><br>

      <input type="checkbox" id="lang3" name="knownTechnologies" value="JS">
      <label for="lang3"> JS</label><br>

      <input type="checkbox" id="lang4" name="knownTechnologies" value="GIT">
      <label for="lang4"> GIT</label><br>

      <input type="checkbox" id="lang5" name="knownTechnologies" value="REACT">
      <label for="lang5"> REACT</label><br>

      <input type="checkbox" id="lang6" name="knownTechnologies" value="NODE.JS">
      <label for="lang6"> NODE.JS</label><br>

      <label for="githubUrl">Github URL:</label>
      <input type="text" id="githubUrl" name="githubUrl"><br><br>
      
      <label for="twitterUrl">Twitter URL:</label>
      <input type="text" id="twitterUrl" name="twitterUrl"><br><br>

      <label for="favoriteBooks">Favourite Books (Seperated by comma):</label>
      <input type="text" id="favoriteBooks" name="favoriteBooks"><br><br>

      <label for="favoriteArtists">Favourite Artists (Seperated by comma):</label>
      <input type="text" id="bifavoriteArtists" name="favoriteArtists"><br><br>

      <input type="submit" value="Submit">
    </form>
  </body>
</html>
